/* CUSTOM PROPS CSS START  */
:root {
  --body-bg: #fafafa;
  --element-bg: #fff;
  --text-color: #111517;
  --transtion-duration: 0.4s;
}

/* GOOGLE FONTS  */
@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Light.woff2") format("woff2"),
    url("../fonts/NunitoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-SemiBold.woff2") format("woff2"),
    url("../fonts/NunitoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-ExtraBold.woff2") format("woff2"),
    url("../fonts/NunitoSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nunito Sans";
  src: url("../fonts/NunitoSans-Regular.woff2") format("woff2"),
    url("../fonts/NunitoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* GLOBAL CSS START  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dotted var(--text-color);
  outline-offset: 3px;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--body-bg);
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-color);
  transition: background-color var(--transtion-duration) ease, color var(--transtion-duration) ease;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* DARK MODE CSS START  */
.dark-mode {
  --body-bg: #202c36;
  --element-bg: #2b3844;
  --text-color: #fff;
}

/* CONTAINER CSS START  */
.container {
  width: 100%;
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* SAIT MAIN CSS START  */
.site-main {
  flex-grow: 1;
  padding-top: 48px;
  padding-bottom: 48px;
}

.main-content {
  padding-top: 80px;
}

/* SITE HEADER CSS START  */
.site-header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--element-bg);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  white-space: nowrap;
}

.site-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header-logo {
  font-size: 24px;
  line-height: normal;
  font-weight: 800;
  color: var(--text-color);
}

.site-header-logo:hover {
  opacity: 0.8;
}

.site-header-logo:active {
  opacity: 0.6;
}

.site-header-theme-toggler {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: var(--text-color);
}

.site-header-theme-toggler:hover {
  opacity: 0.8;
}

.site-header-theme-toggler:hover {
  opacity: 0.6;
}

.site-header-theme-toggler-inner {
  display: flex;
  align-items: center;
}

.site-header-theme-toggler-text {
  margin-left: 8px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
}

/* FILTERS CSS START  */
.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.filters-search-input {
    min-width: 480px;
    padding: 18px 74px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
    background-color: var(--element-bg);
    color: var(--text-color);
}

.filters-region-select {
    min-width: 200px;
    border: 0;
    padding: 18px 24px;
    border-radius: 5px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.06);
    background-color: var(--element-bg);
    color: var(--text-color)
}


/* INDEX COUNTREIS SCC START  */
.index-counteis-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: -75px;
  margin-bottom: -75px;
  list-style-type: none;
}

.index-counteis-item {
  width: calc(25% - 75px);
  margin-left: 75px;
  margin-bottom: 75px;
}

/* INDEX COUNTRY CSS START  */
.index-country {
  border-radius: 7px;
  overflow: hidden;
  background-color: var(--element-bg);
  color: var(--text-color);
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}

.index-country-flag {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.index-country-info {
  padding: 24px 24px 48px;
}

.index-country-name {
  margin-top: 0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 800;
  margin-bottom: 16px;
}

.index-country-link {
  color: var(--text-color);
}

.index-country-details {
  margin: 0;
}

.index-country-details-item {
  display: flex;
  flex-wrap: wrap;
}

.index-country-details-item:not(:last-child) {
  margin-bottom: 8px;
}

.index-country-details-title {
  font-weight: 600;
}

.index-country-details-value {
  margin-left: 4px;
}



/* COUNTRY PAGE CSS START  */
.country-page-back-wrapper {
  margin-bottom: 80px;
}

.country-page-back-link {
  padding: 10px 40px;
  display: inline-flex;
  align-items: center;
  color: var(--text-color);
  background-color: var(--element-bg);
  border-radius: 6px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
}

.country-page-back-link:hover{
  opacity: 0.8;
}

.country-page-back-link:hover{
  opacity: 0.6;
}

.country-page-back-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 7px;
}
.country-page-back-text {
  font-size: 16px;
  line-height: 20px;
}


/* COUNTRY PAGE FLAG CSS START  */
.country-page-flag-info {
  display: flex;
}

.country-page-flag {
  width: 560px;
  height: 400px;
  object-fit: cover;
  border-radius: 11px;
  box-shadow: 0px 0px 14px 4px rgba(0, 0, 0, 0.1);
  display: flex;
}

/* COUNTRY PAGE INFO WRAPPER  */
.country-page-info {
  width: 600px;
  padding-top: 40px;
  margin-left: 120px;
}

.country-page-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 44px;
  font-weight: 800;
}

.country-page-dls-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.counntry-page-details {
  width: 250px;
}
.country-page-details-item {
  display: flex;
}

.country-page-details-item:not(:last-child){
  margin-bottom: 12px;
}

.country-page-details-title {
  margin-right: 4px;
  font-weight: 600;
}
.country-page-details-value {
  margin: 0;
  padding: 0;
  font-weight: 300;
}


.country-page-border-countries {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.country-page-border-countries-heading {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 16px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.country-page-border-countries-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.country-page-border-link {
  margin-top: 4px;
  margin-bottom: 4px;
  min-width: 96px;
  padding: 5px 10px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.11);
  border-radius: 2px;
  background-color: var(--element-bg);
  color: var(--text-color);
  text-align: center;
  transition: bbackground-color var(--transtion-duration) ease,
    color var(--transtion-duration) ease;
}

.country-page-border-link:not(:last-child){
  margin-right: 10px;
}

.country-page-border-link:hover {
  opacity: 0.8;
}

.country-page-border-link:active {
  opacity: 0.6;
}